@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;700&display=swap');

@font-face {
	font-family: "Comforter";
	src: url("../fonts/Comforter-Regular.woff2") format("woff2"), url("../fonts/Comforter-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Zen Kaku Gothic Antique";
	src: url("../fonts/ZenKakuGothicAntique-Medium.woff2") format("woff2"), url("../fonts/ZenKakuGothicAntique-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
}

body {
	font-family: "Zen Kaku Gothic Antique", sans-serif;
	line-height: 1.2;
	text-indent: 20px;
	text-align: justify;
	padding: 10px 30px;
}

img {
	width: 100%;
	margin: 20px 0px;
}

#top{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 3px 10px red ;
	font-size: 24px;
	letter-spacing: 15px;
	color: red;
	margin-bottom: 15px;
}

.caption, 
.topic {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: blueviolet;
	margin-bottom: 5px;
}

.paragraph {
	font-size: 18px;
	word-spacing: 5px;
	color: chocolate;
}

li {
	text-decoration: underline;
	line-height: 1.5;
	color: darkblue;
}

.basic * {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
	color: green;
}

.basic > h3 {
	margin-bottom: 10px;
}

.basic > p{
	font-weight: 300;
	text-transform: lowercase;
	color: blue;
	margin-bottom: 10px;
}

.basic > a {
	font-family: "Comforter", serif;
	text-shadow: 5px 5px 10px rgba(185, 59, 59, 0.597);
	text-transform: uppercase;
	color: darkviolet;
}

.basic ~ p{
	font-family: "Comforter", serif;
	color: gold;

}

.basic + p{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 100;
	color: deeppink;
	margin-bottom: 10px;
}

footer {
	font-size: 26px;
	color: indigo;
}














